<form *ngIf="showAddTask" (ngSubmit)="onSubmit()" class="add-form">
  <div>
    <label>Task</label>
    <input type="text" [(ngModel)]="text" name="text" placeholder="Add Task" />
  </div>
  <div>
    <label>Day & Time</label>
    <input type="text" [(ngModel)]="day" name="day" placeholder="Add Day & Time" />
  </div>
  <div>
    <label>Set Reminder</label>
    <input type="checkbox" [(ngModel)]="reminder" name="reminder" />
  </div>
  <input type="submit" value="Save Task" class="btn btn-block" />
</form>